* {
	margin: 0;
	padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

body {
	background: url("../images/bg.gif");
	font-family: Roboto, sans-serif, Helvetica, Arial;
	font-size: 14px;
	font-weight: 500;
	color: rgb(90,90,90);
}

a {
	text-decoration: none;
}

#global-wrap {
	max-width: 764px;
	background: #fff url("../images/header.jpg") no-repeat center top;
	margin: 0 auto;
	padding: 0 8px;
}

.global-header {
	height: 239px;
	padding: 117px 0 0 40px;
}

.global-header a {
	color: #fff;
	font-size: 20px;
	display: inline-block;
	margin-bottom: 10px;
}

.global-header p {
	color: #fff;
	font-size: 13px;
}

.global-menu {
	background: #00c612;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 0 20px 10px 20px;
}


.global-menu ul {
	width: 100%;
	list-style: none;
}

.global-menu li {
	text-align: center;
	color: #fff;
	padding: 10px 0;
	font-weight: bold;
	border-bottom: 2px solid green;
}

.global-menu li:hover {
	background: green;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.global-menu li a {
	color: #fff;
	display: block;
}

.global-menu li a:hover {
	color: #fff;
}

.content {
	width: 100%;
}

.content-left {
	width: 80%;
	padding: 0 22px 0 30px;
}

.content-right {
	padding-right: 21px;
}

.one-news-box {
	padding: 10px 0;
}

.one-news-box p {
	padding-bottom: 10px;
}

.one-news-box h1,
.one-news-box h2 {
	color: #00c612;
}

.one-news-box .footer-one-news-box ul {
	display: inline-block;
}

.footer-one-news-box a {
	color: rgb(37, 108, 192);
	text-decoration: underline;
}

.one-news-box .footer-one-news-box ul li:before {
	content: "|";
	display: inline;
	padding: 0 5px;
}

.one-news-box .footer-one-news-box ul li:first-child:before {
	content: "";
	display: none;
}

.one-news-box .footer-one-news-box ul li {
	display: inline-block;
}

.archive-bg {
	background: url("../images/bg.gif");
	margin-top: 14px;
	margin-bottom: 23px;
	text-align: left;
	padding: 7px 20px;
}

.archive-bg {
	color: #fff;
}

.right-nav-archive ul,
.right-nav-cn ul {
	list-style: none;
	padding-left: 11px;
}

.right-nav-archive ul li a:before {
	content: url("../images/square.png");
}

.right-nav-cn ul li a {
	color: #00c612;
}

.right-nav-cn ul li a:before {
	content: url("../images/square.png");
}

.right-nav-cn ul li h3 {
	font-weight: 800;
	color: #444;
}

.right-nav-cn ul li {
	color: #00b100;
}

.right-nav-archive ul li a span {
	color: rgb(90,90,90);
}

.right-nav-archive ul a {
	color: #00b100;
}

.right-nav-archive ul li,
.right-nav-cn ul li {
	padding-bottom: 7px;
}

.global-footer {
	background: rgb(211,237,200);
	background: -moz-linear-gradient(top, rgb(211,237,200) 0%, rgb(83,187,42) 35%, rgb(83,187,42) 100%);
	background: -webkit-linear-gradient(top, rgb(211,237,200) 0%,rgb(83,187,42) 35%,rgb(83,187,42) 100%);
	background: linear-gradient(to bottom, rgb(211,237,200) 0%,rgb(83,187,42) 35%,rgb(83,187,42) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3edc8', endColorstr='#53bb2a',GradientType=0 );
	font-size: 12px;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	max-width: 780px;
	margin-left: -8px;
	margin-right: -8px;
	border-top: 4px solid rgb(37, 108, 192);
}

.global-footer a {
	color: #fff;
}



@media (min-width: 790px) {
	.content-left {
		float: left;
		width: 450px;
		padding: 0 22px 0 30px;
	}

	.content-right {
		float: right;
		width: 241px;
		padding-right: 21px;
	}
	
	.global-menu {
		background: #00c612;
		background: -moz-linear-gradient(top, #00c612 0%, #00c612 50%, #00b100 51%, #00b100 100%);
		background: -webkit-linear-gradient(top, #00c612 0%,#00c612 50%,#00b100 51%,#00b100 100%);
		background: linear-gradient(to bottom, #00c612 0%,#00c612 50%,#00b100 51%,#00b100 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c612', endColorstr='#00b100',GradientType=0 );
		-webkit-border-radius: 5px;
		border-radius: 5px;
		margin: 0 20px 10px 20px;
	}
	
	.global-menu ul {
		display: table;
		width: 100%;
		table-layout: fixed;
	}

	.global-menu li {
		display: table-cell;
		text-align: center;
		color: #fff;
		padding: 10px 0;
		font-weight: bold;
	}
	
	.global-menu li:hover {
		background: #00c612;
		background: -moz-linear-gradient(top, #00c612 0%, #00c612 50%, #00b100 51%, #00b100 100%);
		background: -webkit-linear-gradient(top, #00c612 0%,#00c612 50%,#00b100 51%,#00b100 100%);
		background: linear-gradient(to bottom, #00c612 0%,#00c612 50%,#00b100 51%,#00b100 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c612', endColorstr='#00b100',GradientType=0 );
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
	
	.one-news-box .footer-one-news-box ul {
		display: inline-block;
	}

	.one-news-box .footer-one-news-box ul li:before {
		content: "|";
		display: inline;
		padding: 0 5px;
	}

	.one-news-box .footer-one-news-box ul li:first-child:before {
		content: "";
		display: none;
	}

	.one-news-box .footer-one-news-box ul li {
		display: inline-block;
	}

	.one-news-box .footer-one-news-box ul li a {
		color: #1198E7;
		text-decoration: underline;
	}
