body {
  font-family: 'Oswald', Arial, serif !important;
  font-size: 12px;
  color: #fff;
}

.navbar {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navbar-header {
  color: #e8603c;
  font-size: 36px;
  font-weight: 600;
}

.navbar-header span {
  color: #f3af9d;
}

.navbar-header:hover {
  text-decoration: none;
  color: #e8603c;
}

.nav-link {
  font-size: 20px;
  color: #b9b9b9 !important;
  font-family: 'Oswald', Arial, serif;
  padding-left: 30px !important;
}

.home {
  color: #e8603c !important;
}

.nav-link:last-child {
  padding-right: 0 !important;
}

.img-responsive {
  width: 100%;
}

.header-img {
  margin-bottom: 15px;
}

.desc-title {
  margin-top: 40px;
  margin-bottom: 30px;
  color: #e8603c;
  text-transform: uppercase;
  font-size: 24px;
  margin-left: 70px;
  position: relative;
 }

 .hide {
   width: 50px;
   height: 60px;
   overflow: hidden;
   position: absolute;
   left: -70px;
   top: 3px;
 }

 .desc-title .sprite-3 {
   top: 7px;
   left: -100px;
   position: absolute;
 }

 .desc-title .sprite-2 {
   top: 7px;
   left: -50px;
   bottom: -3px;
   position: absolute;
 }

 .button-desc {
   color: #fff;
   text-transform: uppercase;
   background-color: #e8603c;
   border: 0;
   padding: 5px 13px;
   font-size: 14px;
 }

 .button-desc:hover {
   text-decoration: none;
   color: #fff;
 }

.resent {
  margin-top: 50px;
  margin-bottom: 30px;
  background-image: url("../images/title-bg.png");
  background-repeat: repeat-x;
  text-transform: uppercase;
  font-size: 18px;
 }

 .resent span {
   background-color: #fff;
   display: block;
   width: 130px;
   color: #e8603c;
 }

.img-responsive img {
  width: 100%;
}

.expample-border {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
  padding: 15px;
  color: #ccc;
  text-transform: uppercase;
}

.expample-border h4 {
  font-size: 18px;
  color: #b9b9b9;
}

.expample-border p {
  margin: 0;
  color: #e8603c;
  font-size: 15px;
}

.footer-bgc {
  background-color: #f3b29d;
}

.footer-border {
  background-color: #e8663c;
  border-left: 15px solid #fff;
  border-right: 15px solid #fff;
  color: #fff;
  padding: 40px;
}

.footer-padding {
  padding-left: 25px;
}

.footer-padding h3 {
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 17px;
}

.footer-padding span {
  color: #f3b29d;
}

.footer-padding a {
  color: #fff;
}

.footer-padding a:hover {
  text-decoration: none;
  color: #fff;
}

.footer-padding .below {
  padding-top: 4px;
  display: block;
}

.footer-social-img {
  position: relative;
}

.hide-1,
.hide-2,
.hide-3,
.hide-4,
.hide-5 {
  background-color: #fff;
  height: 30px;
  width: 30px;
  overflow: hidden;
  border-radius: 4px;
  position: absolute;
}

.hide-1 {
  left: 0;
}

.hide-2 {
  left: 40px;
}

.hide-3 {
  left: 80px;
}

.hide-4 {
  left: 120px;
}

.hide-5 {
  left: 160px;
}

.hide-2 a img {
  margin-left: -32px;
  right: 0;
}

.hide-3 a img {
  margin-left: -63px;
}

.hide-4 a img {
  margin-left: -95px;
}

.hide-5 a img {
  margin-left: -126px;
}